.well {
  height: 100%;
  .tab-content {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    .card {
      img {
        width: 50%;
      }
    }
  }
}

.nav-pills {
  .nav-item {
    button {
      width: 100%;
      background-color: rgb(35, 199, 150);
    }
  }
}
.contain {
  .topCloth {
    width: 250px;
    height: 500px;
    position: absolute;
    top: 12%;
    left: 22%;
    z-index: 2;
    img {
      width: 100%;
    }
  }

  .botCloth {
    width: 250px;
    height: 500px;
    position: absolute;
    top: 12%;
    left: 22%;
    z-index: 1;
    img {
      width: 100%;
    }
  }

  .background {
    img {
      height: 1236px;
    }
  }
}
